<%- include('../layouts/headeradmin'); -%>
<div class="modal-header">
    <h3 class="modal-title" id="exampleModalLabel">Clients Paiement</h3>
</div>
<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">PHARMANCE NAME</th>
            <th scope="col">LOCATION</th>
        </tr>
    </thead>
    <tbody>
        <% result.forEach((item) => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.firstname %> <%= item.lastname %></td>
            <td><%= item.product %></td>
            <td><%= item.amount %></td>
            <td><%= item.date %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<%- include('../layouts/footer'); -%>