<%- include('../layouts/headeradmin'); -%>

<!----------------Modal add Medecine-------------------------------->
<br>
<br>
<button type="button" style="position: relative; float: right; margin-right: 4px;" class="btn btn-outline-success my-3"
    data-toggle="modal" data-target="#exampleModal1" data-whatever="@getbootstrap">
    <i class="fas fa-plus"></i> Add Medecine
</button>

<div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Medecine</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/medecine" method="POST" enctype="multipart/form-data">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <label class="input-group-text" for="inputGroupSelect01">Pharmacy name</label>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="m_pharmacy">
                            <option selected>Choose</option>
                            <option value="1">Glophar</option>
                            <option value="2">K-Pharma</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Medecine</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Medecine name" aria-label="m_name"
                            aria-describedby="basic-addon1" name="m_name" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Description</span>
                        </div>
                        <textarea class="form-control" aria-label="p_location" aria-describedby="basic-addon1"
                            name="m_description" required>
                        </textarea>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlFile1">Upload image</label>
                        <input type="file" name="m_image" class="form-control-file" id="exampleFormControlFile1"
                            accept="" required />
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Quantity</span>
                        </div>
                        <input type="number" class="form-control" placeholder="Quantity" aria-label="m_quantity"
                            aria-describedby="basic-addon1" name="m_quantity">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Category</span>
                        </div>
                        <select class="custom-select" id="inputGroupSelect01" name="m_category">
                            <option selected>Choose</option>
                            <option value="1">First Category</option>
                            <option value="2">Second Category</option>
                        </select>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Price</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Medecine price" aria-label="m_price"
                            aria-describedby="basic-addon1" name="m_price">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!----------------End modal---------------------------------------->

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">No</th>
            <th scope="col">NAME</th>
            <th scope="col">LOCATION</th>
            <th scope="col">NUMBER</th>
            <th scope="col">MEDECINE</th>
            <th scope="col">QUANTITY</th>
            <th scope="col">IMAGE</th>
            <th scope="col">CATEGORY</th>
            <th scope="col">PRICE</th>
        </tr>
    </thead>
    <tbody>
        <% var No = 0; %>
        <% result.forEach((item) => { %>
        <tr>
            <td><%= No +=1 %></td>
            <td><%= item.name %></td>
            <td><%= item.location %></td>
            <td><%= item.num %></td>
            <td><%= item.title %></td>
            <td><%= item.quantity %></td>
            <td><img src="images/<%= item.image %>" alt="<%= item.title %>" srcset=""
                    style="width: 30px; height: 20px;"></td>
            <td><%= item.type %></td>
            <td><%= item.price %></td>
            <td>
                <form action="/deletemedecine" method="POST">
                    <input type="text" name="itemId" id="itemId" value="<%= item.id_item %>" hidden>
                    <button type="submit" class="btn btn-danger">
                        <i class="fas fa-trash pull-left"></i>
                    </button>
                </form>
            </td>
        </tr>
        <% }); %>

    </tbody>
</table>
<%- include('../layouts/footer'); -%>