<%- include('../layouts/headeradmin'); -%>

<!----------------Modal add Pharmacy-------------------------------->
<button type="button" style="position: relative; float: right;" class="btn btn-outline-success my-3" data-toggle="modal"
    data-target="#exampleModal" data-whatever="@getbootstrap"><i class="fas fa-plus"></i> Add Pharmacy
</button>

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Pharmacy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="/pharma" method="POST">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Pharmacy name</span>
                        </div>
                        <input type="text" class="form-control" placeholder="Pharmacy name" aria-label="p_name"
                            aria-describedby="basic-addon1" name="p_name">
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="basic-addon1">Pharmacy address</span>
                        </div>
                        <input type="text" class="form-control" placeholder="District, Quater, Avenu"
                            aria-label="p_address" aria-describedby="basic-addon1" name="p_address">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<!----------------End modal---------------------------------------->

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">PHARMANCE NAME</th>
            <th scope="col">LOCATION</th>
        </tr>
    </thead>
    <tbody>
        <% result.forEach((item) => { %>
        <tr>
            <td><%= item.id %></td>
            <td><%= item.name %></td>
            <td><%= item.address %></td>
        </tr>
        <% }); %>
    </tbody>
</table>
<%- include('../layouts/footer'); -%>