<%- include('../layouts/header'); -%>

<div class="row mt-5">
    <div class="col-md-6 m-auto">
        <div class="card card-body">
            <h1 class="text-center mb-3"><i class="fas fa-sign-in-alt"> Sign in</i></h1>

            <form action="/users/signin" method="POST">
                <div class="for-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Enter Email"
                        value="<%= typeof email != 'undefined' ? email : '' %>">
                </div>
                <div class="for-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" class="form-control"
                        placeholder="Enter Password" value="<%= typeof email != 'undefined' ? password : '' %>">
                </div>
                <br>
                <% if(loginMessage.length >0){ %>
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                    <center> <%= loginMessage %> </center>
                </div>
                <% } %>
                <br>
                <div class="for-group">
                    <button type="submit" class="btn btn-success btn-block">Login</button>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../layouts/footer'); -%>